<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            Search <input type="text" v-model="searchLine" />
            <button class="search-button" type="button" @click="FilterGoods">Искать</button>
            <br>
            <button class="cart-button" type="button" @click="cartClickHandler">Корзина</button>
            <span class="cartIconWrap" @click="cartClickHandler">
                <img class="cartIcon" src="images/cart.png" alt="">
                <span>0</span>
            </span>
            <div class="cart" v-show="isVisibleCart">
                <div class="cart_row cart_head">
                    <div>Название товара</div>
                    <div>Количество</div>
                    <div>Цена за шт.</div>
                    <div>Итого</div>
                </div>

                <div class="cart_total">
                    Товаров в корзине на сумму:
                    $<span class="cart_total_value">0</span>
                </div>
            </div>
        </header>
        <main>
            <div class="goods-list">
                <div class="goods-item" v-for="good in filteredGoods">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                    <button class="add-button" type="button" @click="addCart($event)">В корзину</button>
                </div>
            </div>
        </main>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>

</html>